*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-wrap: nowrap;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;

    background-color: #b6a5ea;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;

    flex-direction: column;
}

.bodying{
    display: flex;

    width: 100%;
    height: 100%;
}

/* --------------------------------------- header ----------------------------------------*/

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftHeader{
    width: 15%;
    height: 4rem;
    background-color: #0F052E;
    
    border-bottom: 0.4rem solid #FEAC1C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.miniLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniLogo img{
    width: 3.3rem;
    border-radius: 50%;
}

.rightHeader{
    width: 85%;
    height: 4rem;
    background-color: #230e62;

    border-bottom: 0.4rem solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 3rem;
}

/* --------------------------------------- header - close ----------------------------------------*/

/* --------------------------------------- menu left   ----------------------------------------*/
.leftMenu{
    width: 15%;
    height: 100%;
    background-color: #0F052E;

    display: flex;
    flex-direction: column;
}

.dataEmployee{
    width: 100%;
    height: 4rem;

    background-color: #1d0d4e;

    display: flex;
    flex-direction: column;

    border-bottom: 0.1rem solid black;
    border-top: 0.1rem solid black;
}

.nameEmployee{
    color: #b9a4f7;
    font-size: 1.1rem;
    font-weight: 600;

    padding-left: 1rem;
    padding-top: 0.7rem;
    letter-spacing: 1px;
}

.chargeEmployee{
    color: #b9a4f7;
    font-size: 0.8rem;
    font-weight: 600;

    padding-left: 1rem;
    letter-spacing: 1px;
}

.menuWord{
    width: 100%;
    height: 3rem;
    background-color: #0F052E;

    border-bottom: 0.3rem solid #FEAC1C;
    border-top: 0.3rem solid #FEAC1C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menuWord h3{
    letter-spacing: 0.2rem;
    font-size: 1rem;
    color: #FEAC1C;
    font-weight: 600;
}

.mini-left-menu-hr{
    border: none;
    background-color: #0F052E;
    height: 3px;
}

.buttons-left-menu{
    cursor: pointer;
    padding-left: 2rem;
    text-align: left;
    border: 3px solid #0F052E;
    width: 100%;
    height: 3rem;
    background-color: #1d0d4e;
    color: #b9a4f7;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.buttons-left-menu:hover{
    color: #FEAC1C;
    background-color: #311190;
}

.menu-button-left-menu:hover {
    border-left: 0.4rem double #FEAC1C;
}

.group-buttons-left-menu{
    border-bottom: 0.3rem solid #FEAC1C;
}
/* --------------------------------------- menu left - close ----------------------------------------*/

/* --------------- Default ---------------- */

.page{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 77vh;
}

.header-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    margin-left: 1%;
    margin-top: 1%;
}

.title-page{
    color: #0F052E;
    font-size: 1.5rem;
    font-weight: 800;
}

.subtitle-page{
    color: #0F052E;
    margin-top: -0.4rem;
    margin-left: 0.1rem;
}

.page-item{
    display: flex;
    width: 100%;
    height: 77vh;
}

.background-list{
    width: 75%;
    height: 97%;
    background-color: #fff;
    margin-left: 1%;
    margin-bottom: 0.5rem;
    border-top: 5px solid rgb(109, 107, 107);
    border-bottom: 3px solid rgb(109, 107, 107);
    border-radius: 1%;

    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-form{
    width: 22%;
    height: 97%;
    background-color: #fff;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid rgb(109, 107, 107);
    border-radius: 1%;
}

.header-list{
    width: 100%;
    height: 2.4rem;
    display: flex;
    margin-bottom: 0.5rem;
}

h3{
    color: rgb(109, 107, 107);
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.body-list{
    display: flex;
    width: 100%;
    height: 98%;
}

table{
    margin-left: 0.5rem;
    margin-right: 0.1rem;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: small;
    overflow-y: auto;
    text-wrap: nowrap;
    color: rgb(44, 44, 44);
}

table th{
    display: flex;
    border-bottom: 1px solid rgb(77, 77, 77);;
    text-align: left;
    width: 100%;
    align-items: center;
}

table td{
    display: flex;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid rgb(225, 223, 223);
    height: 1.8rem;
    overflow-x: hidden;
    font-size: small;
    align-items: center;
}

table tr{
    display: flex;
    text-wrap: nowrap;
}

tr:nth-child(odd) {
	background-color:#e2dfed;
}

.body-list{
    width: 100%;
    height: 100%;
}

tbody{
    width: 100%;
}

.btns-list{
    padding-right: 0.1rem;
}

.btn-list-delete, .btn-list-edit{
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 2.6rem;
    height: 1.2rem;
    border-radius: 2px;
}

.btn-list-edit{
    background-color: #3779ec;
    border: 1px solid #1750b4;
}

.btn-list-delete{
    margin-left: 0.2rem;
    background-color: rgb(234, 53, 53);
    border: 1px solid rgb(251, 19, 19);
}

/* --------------- Default - close ---------------- */

/* --------------- Table Product ------------------ */

#product-list{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 77vh;
    background-color: #fff;
    margin-left: 1%;
    margin-bottom: 0.5rem;
    border-top: 5px solid rgb(109, 107, 107);
    border-bottom: 3px solid rgb(109, 107, 107);
    border-radius: 1%;

    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
}

#th-prod{
    height: 9%;
}

.body-list #product-table{
    display: flex;
    width: 100%;
    height: 89%;
}

#product-table .name-product,
#product-table #name-prod{
    padding-left: 0.2rem;
    min-width: 20%;
    max-width: 20%;
    width: 20%;
}

#product-table .brand-product, 
#product-table #brand-prod{
    padding-left: 0.6rem;
    min-width: 18%;
    max-width: 18%;
    width: 18%;
}

#product-table .descript-product, 
#product-table #descript-prod{
    padding-left: 0.6rem;
    min-width: 20%;
    max-width: 20%;
    width: 20%;
}

#product-table .price-buy-product, 
#product-table #price-buy-prod{
    padding-left: 0.6rem;
    min-width: 10%;
    max-width: 10%;
    width: 10%;
}

#product-table .price-product, 
#product-table #price-prod{
    padding-left: 0.6rem;
    min-width: 10%;
    max-width: 10%;
    width: 10%;
}

#product-table .quantity-product, 
#product-table #quantity-prod{
    padding-left: 0.6rem;
    min-width: 10%;
    max-width: 10%;
    width: 10%;
}

#product-table .btns-list, 
#product-table #action-prod{
    padding-left: 0.6rem;
    min-width: 12%;
    max-width: 12%;
    width: 12%;
}

#product-table .price-buy-product, 
#product-table #price-buy-prod,
#product-table .price-product, 
#product-table #price-prod,
#product-table .quantity-product, 
#product-table #quantity-prod
{
    padding-left: 0.6rem;
    display: flex;
    justify-content: center;
}


/* --------------- Table Product - close ------------------ */

/* --------------- Table Client ------------------ */

#client-list{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 77vh;
    background-color: #fff;
    margin-left: 1%;
    margin-bottom: 0.5rem;
    border-top: 5px solid rgb(109, 107, 107);
    border-bottom: 3px solid rgb(109, 107, 107);
    border-radius: 1%;

    overflow-y: hidden;
    overflow-x: hidden;
}

.body-list #client-table{
    display: flex;
    width: 100%;
    height: 89%;
}

#th-client{
    height: 9%;
}

#client-table .name-client,
#client-table #name-client{
    padding-left: 0.2rem;
    min-width: 35%;
    max-width: 35%;
    width: 35%;
}

#client-table .cpf-client,
#client-table #cpf-client{
    padding-left: 0.2rem;
    min-width: 25%;
    max-width: 25%;
    width: 25%;
}

#client-table .number-client,
#client-table #number-client{
    padding-left: 0.2rem;
    min-width: 25%;
    max-width: 25%;
    width: 25%;
}

#client-table .btns-list, 
#client-table #action-client{
    padding-left: 0.6rem;
    min-width: 15%;
    max-width: 15%;
    width: 15%
}

/* --------------- Table Client - close ------------------ */

/* --------------- Forms --------------- */
.form-create{
    border-top: 5px solid #00a65a;
    border-radius: 1%;
}

.form-update{
    border-top: 5px solid #3779ec;
    border-radius: 1%;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 0.5rem;
    padding-right: 1rem;
}

label{
    margin-bottom: 0.2rem;
}

.header-form{
    width: 100%;
    height: 2.4rem;
    display: flex;
    margin-bottom: 0.5rem;
}

.body-form{
    display: flex;
    width: 100%;
    height: 100%;
}

.btns{
    display: flex;
    justify-content: end;
}

input{
    padding-left: 0.2rem;
    height: 1.5rem;
    font-size: 0.9rem;
    color: rgb(50, 50, 50);
    border: solid 1px gray;
    border-radius: none;
    margin-bottom: 0.2rem;
    outline: none;
}

.btn-save, .btn-update, .btn-cancel{
    margin-top: 0.5rem;
    width: 4.5rem;
    height: 1.8rem;
    border-radius: 3px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.btn-save{
    background-color: #00a65a;
    border: solid 1px #008d4c;
    color: #fff;
}

.btn-save:hover{
    background-color: #008d4c;
}

.btn-update{
    background-color: #3779ec;
    border: solid 1px #204d74;
    color: #fff;
}

.btn-update:hover {
    background-color: #367fa9;
}

.btn-cancel{
    background-color: rgb(236, 236, 236);
    border: solid 1px rgb(50, 50, 50);
    color: rgb(50, 50, 50);
}

.btn-cancel:hover{
    background-color: rgb(188, 188, 188);
}

/* --------------- Forms - close --------------- */